/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #b5d1fc;
} */

body {
  background-image: url("./climbingbackground.jpeg");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#add-bee {
  font-size: 16px;
  background: none !important;
  border: none;
  padding: 0 !important;
  font-family: arial, sans-serif;
  color: #fe3b8b;
  text-decoration: underline;
  cursor: pointer;
}

header {
  font-size: 32px;
  font-weight: bold;
}

.img-circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.default-img {
  width: 150px;
  height: 150px;
}

.post {
  max-width: 400px;
  max-height: 400px;
}

.error-message {
  color: red;
}

/* .loginPage {
  background: black;
  height: 124.63px;
  text-align: center;
  margin-top: 291px;
  margin-left: 666px;
  color: white;
} */

.loginLogo {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 86px;
  width: 677.3px;
}

.loginForm {
  /* position: absolute;
  top: 300px;
  left: 840px; */
  margin: -7% 39%;
}

.signUpForm {
  /* position: absolute;
  top: 300px;
  left: 840px; */
  margin: -6% 39%;
}

.loginInput {
  padding: 10px 20px;
  width: 90%;
  margin-top: -10px;
  font-size: 16px;
  box-sizing: border-box;
  border: 2px solid #607da8;
  border-radius: 4px;
}

.signUpInput {
  padding: 10px 20px;
  width: 225px;
  margin-top: -10px;
  font-size: 16px;
  box-sizing: border-box;
  border: 2px solid #67696b;
  border-radius: 4px;
}

.signUpInput2 {
  position: absolute;
  padding: 10px 20px;
  width: 125px;
  margin-top: -10px;
  top: 68px;
  left: 250px;
  font-size: 16px;
  box-sizing: border-box;
  border: 2px solid #b5d1fc;
  border-radius: 4px;
}

.signUpInput3 {
  position: absolute;
  padding: 10px 20px;
  width: 125px;
  margin-top: -10px;
  top: 43px;
  left: 400px;
  font-size: 16px;
  box-sizing: border-box;
  border: 2px solid #b5d1fc;
  border-radius: 4px;
}

.signUpInput4 {
  position: absolute;
  padding: 10px 20px;
  width: 125px;
  margin-top: -10px;
  top: 18px;
  left: 250px;
  font-size: 16px;
  box-sizing: border-box;
  border: 2px solid #b5d1fc;
  border-radius: 4px;
}

.loginButton1 {
  position: relative;
  top: 110px;
  left: 39%;
}

.loginButton2 {
  position: relative;
  top: 110px;
  left: 39%;
}

.loginButton3 {
  position: relative;
  top: 35px;
  left: 0;
}

.loginButton4 {
  position: relative;
  top: 25px;
  left: 0;
}

.signUpButton1 {
  position: absolute;
  top: -195px;
  left: 500px;
}

.signUpButton2 {
  position: absolute;
  top: -77px;
  left: 52px;
}

.loginDescription {
  /* position: absolute;
  text-align: left;
  width: 400px;
  top: 100px;
  left: 840px; */
  margin: -8% 42%;
  font-size: 30px;
  font-family: "Titillium Web", sans-serif;
  color: black;
  background: white;
}

.App {
  text-align: center;
  /* background: rgb(250, 248, 227); */
  background-image: url("./climbingbackground.jpeg");
  min-height: 100vh;
  padding-bottom: 125px;
}

.header-ul {
  display: flex;
  width: 40%;
  margin: 0 auto;
  justify-content: space-between;
}

ul {
  padding: 0;
  list-style-type: none;
}

.header {
  background: #b5d1fc;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  height: 70px;
}

.footer {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: #b5d1fc;
}

.footer p {
  margin-left: 50px;
  margin-right: 50px;
  font-size: 16px;
  font-weight: bold;
  margin-right: 30px;
  font-family: "-apple-system", "BlinkMacSystemFont", '"Segoe UI"', "Roboto",
    '"Helvetica Neue"', "Arial", "sans-serif", '"Apple Color Emoji"',
    '"Segoe UI Emoji"', '"Segoe UI Symbol"';
  opacity: 0.75;
}

.footer p:hover {
  color: #fe3b8b;
  opacity: 1;
}

.headerLogo {
  margin-left: 0p;
  margin-right: 10%;
  width: 150px;
}

.searchInput {
  padding: 5px 10px;
  font-size: 14px;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 4px;
}

.tabs {
  margin-left: 50px;
  margin-right: 20px;
}

.pageDiv {
  margin: auto;
  margin-top: 50px;
  padding: 30px;
  background: #b5d1fc;
  width: 60%;
}

#hiveName {
  position: relative;
  right: 18px;
}

li {
  padding: 0;
  list-style-type: none;
}

.layout {
  display: grid;
  grid-template-columns: repeat(var(--cols), var(--tile-size));
  grid-gap: 0;
  align-self: flex-start;
}

.tile {
  box-sizing: border-box;
  border: 1px solid rgb(75, 75, 75);
  background: white;
  height: 40px;
}

:root {
  --cols: 20;
  --tile-size: 40px;
}

.hold {
  width: 100%;
  height: 100%;
  text-align: center;
}

.tileText {
  display: inline-block;
}

.holds-group,
.legend {
  background: white;
  width: 25%;
}

.static {
  position: absolute;
  background: white;
}

.static:hover {
  opacity: 0;
}

.climbr {
  width: 360px; 
  height: 128px; 
  background-image: url("./Climbr.png");
  background-size: cover;
  margin: 8% 36.8%;
}

.climbr-hover {
  width: 360px; 
  height: 128px; 
  background-image: url("./Climbr.gif");
  background-size: cover;
  margin: 8% 36.8%;
}
